.recipe-container {
    width: auto;
    height: 100vh;
    aspect-ratio: 9/20; /* 9:20 비율 (필요에 따라 조정) */

    overflow-y: auto;
    scrollbar-width: none;        /* Firefox */
    -ms-overflow-style: none;     /* IE, Edge */

    background-color: white;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.recipe-container.dimmed {
    filter: brightness(0.6);
    pointer-events: none;
}

.recipe-divider {
    width: 90%;
    height: 1.5px;
    background-color: #B5B5B5;
    margin: 0 auto;
    flex-shrink: 0
}