.storage-detail-container {
    width: auto;
    height: 100vh;
    height: 100dvh;
    aspect-ratio: 9/20; /* 9:20 비율 (필요에 따라 조정) */

    overflow-y: auto;
    scrollbar-width: none;        
    -ms-overflow-style: none;     

    background-color: white;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.storage-detail-header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 15px;
    box-sizing: border-box;
    position: relative;

    border-bottom: 1px solid #ECECEC;
    margin-bottom: 30px;
}

.storage-detail-edit {
    position: absolute;
    right: 15px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.storage-detail-edit:focus {
  outline: none;
}